{% extends 'base.html' %}
{% load tags %}

<div class="container">

    {% block content %}
        {% if form.errors %}
            <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <div class="row">
            <div class="col"></div>
            <div class="col-sm-6">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <label>{{ form.username.label_tag }}</label>
                    {{ form.username|add_classes:"form-control" }}
                    <label>{{ form.password.label_tag }}</label>
                    {{ form.password|add_classes:"form-control" }}
                    <input class="btn btn-success" type="submit" value="login">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                <p><a class="float-end" href="{% url 'password_reset' %}">Lost password?</a></p>
            </div>
            <div class="col"></div>
        </div>
        </div>
    {% endblock content %}