{% load tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Created</title>
</head>
<body>
<h1 style="color: green">Payment Successful</h1>
<p>Hello {{ payment.name }},</p>
<p>We are happy to inform you that your payment is successful for {{ payment.semester|semester_name }} semester in
    Department of {{ payment.department|dept_name }}. Your payment code is <b>{{ payment.pay_code }}</b>. Please keep
    payment code in safe place.</p>
<h2>Details</h2>
<table>
    <tr>
        <th>Type</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{ payment.name }}</td>
    </tr>
    <tr>
        <td>Roll</td>
        <td>{{ payment.roll }}</td>
    </tr>
    <tr>
        <td>Registration</td>
        <td>{{ payment.registration_number }}</td>
    </tr>
    <tr>
        <td>Department</td>
        <td>{{ payment.department }}</td>
    </tr>
    <tr>
        <td>Semester</td>
        <td>{{ payment.semester }}</td>
    </tr>
    <tr>
        <td>Payment Method</td>
        <td>{{ payment.method }}</td>
    </tr>
    <tr>
        <td>Account</td>
        <td>{{ payment.account }}</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>{{ payment.amount }}</td>
    </tr>
    <tr>
        <td>Transaction ID</td>
        <td>{{ payment.transaction_id }}</td>
    </tr>
    <tr>
        <td>Pay Code</td>
        <td>{{ payment.pay_code }}</td>
    </tr>
    <tr>
        <td>Payment Placed</td>
        <td>{{ payment.created_at }}</td>
    </tr>
</table>
</body>
</html>